@import url("./header.css");
@import url("./top.css");
@import url("./actions.css");

#SecureContext > div.body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: inherit;
}

#SecureContext {
  overflow: visible;
}
